################################################################################
#   Network Programming, 2011, RMIT University                                 #
#   Description: This file contains config values that any implementation of   #
#      the assignment one, on the SERVER SIDE, must support.                   #
#   Note: If you do not support any of the following configs in your program,  #
#      your server program must print a warning message at the initialization  #
#      time. THIS IS IMPORTANT! Marks will be deducted otherwise.              #
################################################################################


# Description: 
#   The address that the server process should use.
# Possible values are:
#   0.0.0.0 for all possible local addresses
#   any other IP address (e.g. 127.0.0.1) for a specific local address
            address                 0.0.0.0


# Description:
#   The port number that the server application must use.
#   During the development of your assignment, use the port number which
#   is specifically allocated to you. 
# NOTE: the following number is a sample only. You should NOT use this number.
                port                20500


# Description:
#   Specifies whether the server will log details of messages to stderr.
# Possible values are:
#   ON: Server prints details of all messages on stderr.
#   OFF: This feature is disabled.
print_message_details           ON              


# Description:
#   Specifies whether the support for "timeout" feature of the server is
#   enabled or not. In other words, this means whether server will ignore
#   some requests or not.
# Possible values are:
#   ON: Server must randomly avoid responding to some requests.
#   OFF: This feature is either unsupported or temporarily disabled.
       support_timeout      ON


